[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
v = {version = "*",editable = true}

[packages]
selenium = "*"
pelican = "==3.6.0"
pytest = "*"
page = "*"
behave = "*"
requests = "*"

[requires]
python_version = "3.7"
